body {
    font-family: Arial, sans-serif;
    margin: 20px;

}

h1, h2 {
    color: #333;
    text-align: center;
}

form {
    margin-bottom: 20px;
    margin: 20px 20px 20px 20px;
    text-align: center;

}

label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
    width: 200px;
}

button {
    padding: 5px 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

#studentForm{
    border-radius:2px ;
}